<div class="register-container">
  <h2 class="register__title">Registro</h2>
  <form
    [formGroup]="formRegister"
    (ngSubmit)="submit()"
    class="register__form mb-4"
    autocomplete="off"
  >
    <mat-form-field class="register__input-container">
      <mat-label for="userName">Nombre de Usuario</mat-label>
      <input type="text" id="userName" formControlName="userName" matInput />
      <mat-error *ngIf="formRegister.controls['userName'].errors?.['required']"
        >Nombre de Usuario es requerido.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['userName'].errors?.['minlength']"
        >Nombre de Usuario debe tener al menos 3 caracteres.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['userName'].errors?.['maxlength']"
        >Nombre de Usuario no puede exceder 50 caracteres.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="firstName">Nombre</mat-label>
      <input type="text" formControlName="firstName" matInput />
      <mat-error *ngIf="formRegister.controls['firstName'].errors?.['required']"
        >Nombre es requerido.</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['firstName'].errors?.['minlength']"
        >Nombre debe tener al menos 1 caracter.</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['firstName'].errors?.['maxlength']"
        >Nombre no puede exceder 50 caracteres.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="lastName">Apellido</mat-label>
      <input type="text" formControlName="lastName" matInput />
      <mat-error *ngIf="formRegister.controls['lastName'].errors?.['required']"
        >Apellido es requerido.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['lastName'].errors?.['minlength']"
        >Apellido debe tener al menos 1 caracter.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['lastName'].errors?.['maxlength']"
        >Apellido no puede exceder 50 caracteres.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="email">Correo Electrónico</mat-label>
      <input type="email" formControlName="email" matInput />
      <mat-error *ngIf="formRegister.controls['email'].errors?.['required']"
        >Correo Electrónico es requerido.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['email'].errors?.['email']"
        >Correo Electrónico no es válido.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['email'].errors?.['maxlength']"
        >Correo Electrónico no puede exceder 100 caracteres.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="dni">Nro. de Documento</mat-label>
      <input type="text" formControlName="dni" matInput />
      <mat-error *ngIf="formRegister.controls['dni'].errors?.['required']"
        >N de Documento es requerido.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['dni'].errors?.['minlength']"
        >N de Documento debe tener al menos 7 caracteres.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['dni'].errors?.['maxlength']"
        >N de Documento no puede exceder 15 caracteres.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['dni'].errors?.['numeric']">
        Nro. de Documento debe contener solo números.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="phoneNumber">Teléfono</mat-label>
      <input type="tel" formControlName="phoneNumber" matInput />
      <mat-error
        *ngIf="formRegister.controls['phoneNumber'].errors?.['required']"
        >Teléfono es requerido.</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['phoneNumber'].errors?.['minlength']"
        >Teléfono debe tener al menos 7 caracteres.</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['phoneNumber'].errors?.['maxlength']"
        >Teléfono no puede exceder 15 caracteres.</mat-error
      >
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="password">Contraseña</mat-label>
      <div class="flex">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </div>
      <mat-error *ngIf="formRegister.controls['password'].errors?.['required']"
        >Contraseña es requerida.</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['password'].errors?.['noUpperCase']"
        >{{ formRegister.controls["password"].errors?.['noUpperCase'] }}</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['password'].errors?.['noSpecialCharacter']"
        >{{
          formRegister.controls["password"].errors?.['noSpecialCharacter']
        }}</mat-error
      >
      <mat-error
        *ngIf="formRegister.controls['password'].errors?.['minLength8']"
        >{{
        formRegister.controls["password"].errors?.['minLength8']
        }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="register__input-container">
      <mat-label for="address">Dirección</mat-label>
      <input type="text" formControlName="address" matInput />
      <mat-error *ngIf="formRegister.controls['address'].errors?.['required']"
        >Dirección es requerida.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['address'].errors?.['minlength']"
        >Dirección debe tener al menos 5 caracteres.</mat-error
      >
      <mat-error *ngIf="formRegister.controls['address'].errors?.['maxlength']"
        >Dirección no puede exceder 100 caracteres.</mat-error
      >
    </mat-form-field>

    <div class="register__form-actions mt-2 mb-2">
      <span class="mr-1">¿Ya tienes cuenta?</span
      ><a type="button" mat-button routerLink="/auth/login">Iniciar Sesión</a>
    </div>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="login__submit"
      [disabled]="formRegister.invalid"
    >
      Registrarse
    </button>
  </form>

  @if(errors.length> 0){
  <mat-list>
    <mat-list-item
      class="text-left"
      *ngFor="let error of errors; let i = index"
      color="primary"
    >
      <mat-error color="primary">{{ error }}</mat-error>
    </mat-list-item>
  </mat-list>
  }
</div>
