.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto 0 auto;
  max-width: 410px;
  padding: 10px;
}
.register__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
