<div>
    <form
      [formGroup]="formNeighborhood"
      (ngSubmit)="submit()"
      class="register__form grid gap-2 justify-content-center m-2"
      autocomplete="off"
    >
      <mat-form-field class="register__input-container">
        <mat-label for="name">Nombre</mat-label>
        <input type="text" id="name" formControlName="name" matInput />
        <mat-error *ngIf="formNeighborhood.controls['name'].errors?.['required']"
          >Nombre es requerido.</mat-error
        >
        <mat-error *ngIf="formNeighborhood.controls['name'].errors?.['minlength']"
          >Nombre debe tener al menos 1 caracter.</mat-error
        >
        <mat-error *ngIf="formNeighborhood.controls['name'].errors?.['maxlength']"
          >Nombre no puede exceder 50 caracteres.</mat-error
        >
      </mat-form-field>
  
      <mat-form-field class="register__input-container">
        <mat-label for="provinceId">Provincia</mat-label>
        <mat-select id="provinceId" formControlName="provinceId">
          <mat-option *ngFor="let province of provinces" [value]="province.id">
            {{ province.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formNeighborhood.controls['provinceId'].errors?.['required']"
          >País es requerido.</mat-error
        >
      </mat-form-field>
  
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="login__submit col-6"
        [disabled]="formNeighborhood.invalid"
      >
        Agregar
      </button>
    </form>
  
    <div class="p-4">
      <h3 class="font-semibold text-2xl">Barrios</h3>
      <table mat-table [dataSource]="neighborhoods" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let neighborhood">{{ neighborhood.name }}</mat-cell>
        </ng-container>
  
       <!--  <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let neighborhood">
            <button mat-button color="warn" (click)="delete(neighborhood.id)">
              Eliminar
            </button>
          </mat-cell>
        </ng-container> -->
  
        <mat-header-row *matHeaderRowDef="['name']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name']"></mat-row>
      </table>
    </div>
  </div>
  